<ion-header>
  <ion-toolbar >
    <ion-title>
      Agora Video Call
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card ion-color" style="background-color: #164598;">
      <img src="/assets/meeting-min.png" alt="" />
      <ion-card-header style="color: white;">
        <ion-card-subtitle>Get Started</ion-card-subtitle>
        <ion-card-title>A demo of Agora SDK implementation</ion-card-title>
      </ion-card-header>
      <ion-card-content class="ion-text-center">
        <ion-button color="primary" [routerLink]="['/preview']"> New Meeting</ion-button>
        <!-- <a class="btn btn-success mt-4" [routerLink]="['/preview']">
          New Meeting
        </a> -->
      </ion-card-content>
    </ion-card>
</ion-content>

<ion-footer class="ion-no-border">
  <ion-toolbar class="ion-text-center">
    <ion-text >
     <small> Implemented by HasoTechnology </small>
    </ion-text>
  </ion-toolbar>
</ion-footer>




